Thumbs.db
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.ipch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.sln.docstates
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
obj/
_ReSharper*/
[Tt]est[Rr]esult*
.local/
*.sdf

!Release/Waves/*
!Release/Win32/*.exe
!Release/Win32/*.dll
!Release/x64/*.exe
!Release/x64/*.dll
!Release/*.rtf
*.exp
Source/Clock/Win32/Debug/
Source/Clock/Win32/Release/
Source/Clock/x64/Debug/
Source/Clock/x64/x64/Release/
Source/DLL/Win32/Release/
Source/DLL/x64/x64/Release/
